@model RailwayOrientedProgramming.Models.PersonModel

@{
    ViewBag.Title = "CreateImperative";
}

<h2>CreateImperative</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_Person", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
